@use "abstracts/colors" as colors;
@use "abstracts/typography" as typo;

.tag {
  display: inline-flex;
  width: fit-content;
  font-family: typo.$font-pixel;
  font-size: 0.55rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid color-mix(in oklab, var(--tag) 30%, transparent);
  background: color-mix(in oklab, var(--tag) 10%, transparent);
  color: var(--tag);
}

.primary {
  --tag: #{colors.$color-primary};
}

.amber {
  --tag: #{colors.$color-accent-amber};
}

.sky {
  --tag: #{colors.$color-accent-sky};
}

.purple {
  --tag: #{colors.$color-accent-purple};
}

.yellow {
  --tag: #{colors.$color-accent-yellow};
}
